*{
  box-sizing: border-box;
}

body {
  color: #333;
}

img {
  max-width: 100%;
}

main {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 15px;
}

span.welcome-text {
  font-weight: bolder;
}

div.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  div.post {
    grid-template-columns: 0.9fr 1.1fr;
  }
}

div.post div.image {
  display: flex;
  justify-content: center;
}

div.post div.image img {
  max-height: 300px;
}

div.post div.texts h2 {
  margin: 0;
  font-size: 1.8rem;
}

div.post div.texts a{
  text-decoration: none;
  color: inherit;
}

div.post p.info {
  margin: 6px 0;
  color: #888;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

div.post p.info a.author {
  color: #333;
}

div.post p.summary {
  margin: 6px 0;
  line-height: 1.5rem;
}

form.login, form.register {
  max-width: 1000px;
  margin: 0px;
}

input {
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;
  width: 60%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  outline-color:#6495ED;
  text-align: center;
  font-size: 1.2rem;
}

button {
  margin: 0 auto;
  width: 60%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
  font-size: 1.2rem;
  cursor: pointer;
}

form.login h1, form.register h1 {
  text-align: center;
}

div.post-page div.image {
  max-height: 200px;
  display: flex;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

div.post-page div.image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page a{
  color:#333;
  text-decoration: underline;
}

div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
}

div.post-page time {
  text-align: center;
  display: block;
  font-size: .8rem;
  color: #888;
}

div.post-page div.author {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  font-size: .7rem;
}

div.post-page div.content p {
  line-height: 1.5rem;
}

div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}

div.post-page a.edit-btn {
  margin-top: 10px;
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
}

a svg {
  height: 22px;
}